
<script>
    if (typeof slideConfig === 'undefined') {
        var slideConfig = [];
    }

    slideConfig['voodooblocks-slide-{{ uid }}'] = {
        container: '#voodooblocks-slide-{{ uid }}',
        // center: true,
        mode: '{{ config.mode }}',
        items: {{ config.items }},
        slideBy: 'page',
        loop: {{ (config.is_loop == 1) ? 'true' : 'false' }},
        lazyload: {{ (config.is_lazyload == 1) ? 'true' : 'false' }},
        controls: {{ (config.is_controls == 1) ? 'true' : 'false' }},
        controlsContainer: '.slider-controls',
        axis: '{{ config.axis }}',
        nav: {{ (config.is_nav == 1) ? 'true' : 'false' }},
        navPosition: '{{ config.nav_position }}',
        autoplay: {{ (config.is_autoplay == 1) ? 'true' : 'false' }},
        speed: {{ config.autoplay_speed }},
        autoplayButtonOutput: {{ (config.is_autoplay_button == 1) ? 'true' : 'false' }},
        // mouseDrag: true,

        {% if config.responsive|trim != '' %}
            {% set items = config.responsive|trim|split("\n") %}
            responsive: {
            {% for line in items %}
                {% set item = line|split(':') %}
                {{ item[0]|trim }}: {
                    items: {{ item[1]|trim }},
                },
            {% endfor %}
            },
        {% endif %}
    }
</script>
