{# {{ var_dump(blocklist) }} #}
{% if blocklist.is_raw is not defined or blocklist.is_raw == 0 %}
    <section id="blocklist-{{ blocklist.name|slug }}" class="blocklist">
        {% if blocklist.is_heading == 1 %}
            <h1>{{ blocklist.name }}</h1>
        {% endif %}
{% endif %}
    {% for block in blocklist.blocks if block.is_active == 1 %}
        {% if block['is_active'] is defined and block.is_active == 1 %}
            {% if block.is_raw == 0 %}
                <article class="blockwidth-{{ block.width }} blockheight-{{ block.height }}{{ (block.is_box == 1) ? ' bordered' : null }}">
                    {% if block['is_heading'] is not defined or block.is_heading == 1 %}
                        <h2>{{ block.heading }}</h2>
                    {% endif %}

                    {# {% if block['is_box'] is not defined or block.is_box == 1 %} #}
                        {# <aside class="blockheight-{{ block.height }}"> #}
                    {# {% endif %} #}

        {#                 {% if block['is_box'] is not defined or block.is_box == 1 %}
                            <div{% if block.is_scrollbar == 1 and block.height != 'auto' %} class="scrollbar"{% endif %}>
                        {% endif %} #}

                        {% if block['buttons_above'] is defined %}
                            {% partial __SELF__ ~ "::buttons" buttons=block.buttons_above %}
                        {% endif %}

                        {% if block.excerpt|trim != '' %}
                            <div class="excerpt">
                                {{ block.excerpt|raw }}
                            </div>
                        {% endif %}

                        {% if block['images'] is defined %}
                            {% partial __SELF__ ~ "::images" block=block %}
                        {% endif %}

                        {% if block.content|trim != '' or block['dynamic_content'] is defined %}
                            <div class="content">
                                {% if block.content|trim != '' %}
                                    {{ block.content|raw }}
                                {% endif %}
                                {% if block['dynamic_content'] is defined %}
                                    {{ block.dynamic_content|raw }}
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if block['buttons'] is defined %}
                            {% partial __SELF__ ~ "::buttons" buttons=block.buttons %}
                        {% endif %}

                    {# {% if blocklist['is_box'] is not defined or blocklist.is_box == 1 %} #}
                            {# </div> #}
                        {# </aside> #}
                    {# {% endif %} #}
                </article>
            {% else %}
                {{ block.dynamic_content|raw }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% if blocklist.is_raw is not defined or blocklist.is_raw == 0 %}
    </section>
{% endif %}
