{% if blocklist.is_raw == 0 %}
    <section id="blocklist-{{ __SELF__.alias }}" class="blocklist">
        {% if blocklist.is_heading == 1 %}
            <h2>{{ blocklist.heading }}</h2>
            {% if blocklist.subheading|trim != '' %}
                <h3>{{ blocklist.subheading }}</h3>
            {% endif %}
        {% endif %}
{% endif %}
{% for block in blocklist.blocks %}
    {% if block.is_active == 1 %}
        {% if
            block.is_time_control == 0 or
            block.start_at|date <= 'now'|date and
            block.end_at|date >= 'now'|date
        %}
            <article class="
                blockwidth-{{ block.width }}
                blockheight-{{ block.height }}
                {{ (block.is_box == 1) ? ' box' }}
                {{ (block.is_scrollbar == 1) ? ' scrollbar' }}
            ">
                {% if block.is_heading == 1 %}
                    <h2>{{ block.heading }}</h2>
                    {% if block.subheading|trim != '' %}
                        <h3>{{ block.subheading }}</h3>
                    {% endif %}
                {% endif %}

                {% if block.excerpt|trim != '' %}
                    <aside class="excerpt">
                        {{ block.excerpt|raw }}
                    </aside>
                {% endif %}

                {% if block.images|length > 0 %}
                    {% partial __SELF__ ~ "::images" block=block %}
                {% endif %}

                {% if block.buttons_above|length > 0 %}
                    {% partial __SELF__ ~ "::buttons" buttons=block.buttons_above %}
                {% endif %}

                {% if block.content|trim != '' or block.modules|length > 0 %}
                    <aside class="content">
                        {% if block.content|trim != '' %}
                            <div class="static-content">
                                {{ block.content|raw }}
                            </div>
                        {% endif %}
                        {% if block.modules|length > 0 %}
                            <div class="module-container">
                                {{ block.modules|renderModules }}
                            </div>
                        {% endif %}
                    </aside>
                {% endif %}

                {% if block.buttons|length > 0 %}
                    {% partial __SELF__ ~ "::buttons" buttons=block.buttons %}
                {% endif %}
            </article>
        {% endif %}
    {% endif %}

{% endfor %}
{% if blocklist.is_raw == 0 %}
    </section>
{% endif %}
