{% set blocklist = __SELF__.blocklist %}
<section id="blocklist-{{ blocklist.name|slug }}" class="blocklist">
    {% if blocklist.is_heading == 1 %}
        <h1>{{ blocklist.name }}</h1>
    {% endif %}
    {% for block in blocklist.blocks %}
        {% if block['is_active'] is defined and block.is_active == 1 %}
            <article class="flex-{{ block.width }} w-{{ block.width }}">
                <aside>
                    <h2>{{ block.heading }}</h2>
                    <div class="h-{{ block.height }}{% if block.is_scrolling == 1 and block.height != 'auto' %} scrollbar{% endif %}">
                        {% if block['buttons_above'] is defined or block.excerpt|trim != '' %}
                            <div class="excerpt">
                                {% if block['buttons_above'] is defined %}
                                    <div class="buttons-above">
                                        {% for button in block.buttons_above %}
                                            <a href="{{ button.link }}" target="{{ button.target }}">
                                                {{ button.label }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if block.excerpt|trim != '' %}
                                    {{ block.excerpt|raw }}
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if block['images'] is defined %}
                            {% partial __SELF__ ~ "::images" block=block %}
                        {% endif %}

                        {# {% if block['buttons'] is defined or block.content|trim != '' %} #}
                            <div class="content">
                                {% if block.content|trim != '' %}
                                    {{ block.content|raw }}
                                {% endif %}
                                {% if block['dynamic_content'] is defined %}
                                    {{ block.dynamic_content|raw }}
                                {% endif %}
                                {% if block['buttons'] is defined %}
                                    {% for button in block.buttons %}
                                        <div class="buttons">
                                            <a href="{{ button.link }}" target="{{ button.target }}">
                                                {{ button.label }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {# {% endif %} #}
                    </div>
                </aside>
            </article>
        {% endif %}
    {% endfor %}
</section>

{# <i class="flex-1/4 flex-1/3 flex-1/2 flex-2/3 flex-3/4 flex-4/4"></i> #}
{# <i class="w-1/4 w-1/3 w-1/2 w-2/3 w-3/4 w-4/4"></i> #}
{# <i class="h-1/2 h-1/1 h-3/2 h-1/2 h-auto"></i> #}
