{% if block.images|length > 1 %}
    <div class="slider-container">
        <ul{% if block.is_slider == 1 %} id="slide-{{ blocklist.name|slug }}"{% endif %}>
            {% for image in block.images %}
                <li class="slider-item">
                    {% set no_resize = false %}
                    {% if (image.image|mediadata).mime_type == 'image/svg' %}
                        {% set no_resize = true %}
                    {% endif %}

                    {{ _self.imageOutput(image, block, uid) }}
                </li>
            {% endfor %}
        </ul>

        {% if block.is_slider == 1 %}
            {# left and right controls #}
            {% if block.slider.is_controls == 1 %}
                <ul class="slider-controls" tabindex="0">
                    <li class="prev" data-controls="prev" tabindex="-1">
                        &lsaquo;
                    </li>
                    <li class="next" data-controls="next" tabindex="-1">
                        &rsaquo;
                    </li>
                </ul>
            {% endif %}
        {% endif %}
    </div>
{% elseif block.images.0.image != false %}
    {{ _self.imageOutput(block.images[0], block, blocklist.name|slug) }}
{% endif %}

{% if block.is_slider == 1 and block.slider is defined %}
    {% partial __SELF__ ~ "::config_slider" uid=blocklist.name|slug config=block.slider %}
{% endif %}

{% if block.is_lightbox == 1 and block.lightbox is defined %}
    {% partial __SELF__ ~ "::config_lightbox" uid=blocklist.name|slug config=block.lightbox %}
{% endif %}

{% if block.slider.is_nav_overlay == 1 %}
    <style>
        .tns-nav {
            position: relative;
            /* stylelint-disable-next-line */
            {{ block.slider.nav_position }}: 1.5rem;
            left: 0;
            right: 0;
            z-index: 10;
        }
    </style>
{% endif %}

{% macro imageOutput(image, block, uid, no_resize) %}
    {% if block.is_lightbox == 1 %}
        <a
            href="{{ image.image|media }}"
            data-title="{{ image.title|escape('html') }}"
            data-description="{{ image.description|escape('html') }}"
            class="lightbox-{{ uid }}"
        >
    {% elseif image['link'] is defined and image.link != '' %}
        <a href="{{ image.link }}"{{ (image.is_blank == 1) ? ' target="_blank"' }}>
    {% endif %}
    <figure>
        {% set image_height = block.slider.image_height  %}
        {% if image['url'] is defined and image.url != '' %}
            <img src="{{ image.url }}"{% if block.is_slider == 1 %} style="--height: {{ image_height }}px;"{% endif %}
        {% else %}
            {% if no_resize is defined and no_resize == true %}
                <img src="{{ image.image|media }}" style="--height: {{ image_height }}px;"
            {% else %}
                <img src="{{ image.image|media|resize(false, image_height) }}"
            {% endif %}
        {% endif %}
            alt="{{ image.description|strip_html }}"
            title="{{ image.description|strip_html }}"
        >

        {% if (image.title|trim != '' or image.description|trim != '') and block.is_image_text == 1 %}
            <figcaption>
                {% if image.title != '' %}
                    <h2>{{ image.title }}</h2>
                {% endif %}
                {% if image.description != '' %}
                    <div>{{ image.description|raw }}</div>
                {% endif %}
            </figcaption>
        {% endif %}
    </figure>
    {% if block.is_lightbox == 1 or image['link'] is defined and image.link != '' %}
        </a>
    {% endif %}
{% endmacro %}
