{% set blockgroup = __SELF__.blockgroup %}
<section id="blockgroup-{{ blockgroup.name|slug }}" class="blockgroup">
    {% if blockgroup.is_heading == 1 %}
        <h1>{{ blockgroup.name }}</h1>
        {% if blockgroup.subheading|trim != '' %}
            <h2>{{ blockgroup.subheading }}</h2>
        {% endif %}
    {% endif %}
    {% if blockgroup.content|trim != '' %}
        <aside>{{ blockgroup.content|raw }}</aside>
    {% endif %}
    {% for blocklist in blockgroup.blockgroup %}
        {% partial __SELF__ ~ '::blocklist.htm' blocklist=blocklist %}
        {# {{ block.heading }} <br> #}
        {# {{ var_dump(block) }} #}
    {% endfor %}
</section>

{# <i class="flex-1/4 flex-1/3 flex-1/2 flex-2/3 flex-3/4 flex-4/4"></i> #}
{# <i class="w-1/4 w-1/3 w-1/2 w-2/3 w-3/4 w-4/4"></i> #}
{# <i class="h-1/2 h-1/1 h-3/2 h-1/2 h-auto"></i> #}
