<article class="border border-gray-300 bg-gray-100 mb-2 p-2 text-lg">
    <h2 class="text-center font-oswald">{{ lastBuyed_heading|_ }}</h2>
    {% for article in lastBuyed %}
        <a href="https://lady-anja.com/Video/{{ article.id }}/{{ article.name }}" title="">
            <figure>
                <img src="https://lady-anja.com/includes/show_flv_img.php?id={{ article.id }}&amp;w=170&amp;notext" alt="{{ article.name }}" title="{{ article.name }}">
                <figcaption class="text-xs text-center text-normal">
                    {{ article.name }}
                </figcaption>
            </figure>
        </a>
    {% endfor %}
</article>
